@mixin not-last-child($selector) {
    & #{$selector}:not(:last-child) {
      @content;
    }
  }

@mixin gradient($direction, $color-1, $color-2, $opactity) {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to $direction,$color-1,$color-2);
    opacity: $opactity; 
    }
  
}