.box-btn {
    color: var(--color-grey-dark-1);
    text-decoration: none;
    border: 1.25px solid var(--color-grey-dark-1);
    padding: 1rem 1.5rem;
    transition: all .3s ease-in-out;
    
    &:visited,
    &:link {
        color: var(--color-grey-dark-1);
    }

    &:hover {
        color: var(--color-white);
        background-color: var(--color-grey-dark-1);
    }
}